

	<div class="row">
	<div class="small-2 columns">
		<%= link_to 'Login', new_session_path, class:"button tiny" %>
		</div>
		<div class="small-2 columns">
		<%= link_to 'Signup', new_user_path, class:"button tiny" %>
	</div>
	

<div class="image">
  <%=image_tag("college.jpg")%>
</div>