<div class="row">
<div class="small-2 columns">
	<%= link_to 'Login', new_session_path, class:"button tiny" %>
	</div>
	<div class="small-2 columns">
	<%= link_to 'Signup', new_user_path, class:"button tiny" %>
</div>
<div class="small-7 columns">
	<h4 style="font-family:Roboto Condensed, sans-serif"><strong>NEED MORE TIME? STRESSED? MONEY PROBLEMS?</strong> …there’s a hack for that.</h4>
</div>
</div>

  <%=image_tag("college.jpg")%>