
 <h1>All TASKS</h1>
 
<% @assignments = Assignment.newest_first %>
<% @assignments.each do |assignment| %>
<p>
  <b>Task Title: </b>
  <%= link_to(assignment.title, assignment_path(assignment)) %>
</p>
<p>
  <b>Price:</b>
  <%= number_to_currency(assignment.price) %>
</p>


</br>
<% end %>


