<div>
	<dl>
		<h2>My projects</h2>
			<% @my_assignments.each do |assign| %>
			<div>
				<dt><%= link_to assign.title, assignment_path(assign.id)%></dt>
				<dd>Task Date: <%=assign.date.strftime("%B %e, %Y") %></dd>
				<dd>Task Time: <%=assign.time.strftime("%l:%M %P") %></dd>
			</div>
			<% end %>
	</dl>
</div>

<div>
	<h2> Matched Tasks</h2>
	<tr>
			<th>Task</th>
			<th>Customer</th>
			<th>Worker</th>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</div>
