
 @import 'base';

 @import 'users';
 @import 'assignments';
 @import 'sessions';
 @import 'reviews';
 @import 'foundation_and_overrides';

 header{
 	text-align: center;
 	border: 5px dashed #dda0dd;
 	margin-left: 8em;
 	margin-right: 8em;
 	font-size: 1.5em;
 	text-transform: bold;
 }