
 @import 'base';

 @import 'users';
 @import 'assignments';
 @import 'sessions';
 @import 'reviews';
 @import 'foundation_and_overrides';

 header {
 	text-align: center;
 	margin-left: 8em;
 	margin-right: 8em;
	color: #3CB371;
 	background-color: #000000;

 	h1 {
 		color: #3CB371;
 		
 	}
 }