<h1>Review form</h1>

<div>
	<dl>
		<% @review_user.each do |q| %>
		<td><%= link_to q.first_name, user_path(user.id)%></td>
		
	</dl>
	<% end %>
</div>





<div class="action"><%= f.submit %></div>

